// PrivacyPolicy
.root{
    padding: 20px 0;
    border-top: 1px solid #676767;
}
.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    h2,h3{
        color: #4a4a4a;
    }
    p{
        color: #676767;
    }
}
// PrivacyPolicyItem
.containerItem{
    margin-top: 20px;
}
.privacy-policy-p{
    color: #4a4a4a;
}
.privacy-policy-h1{
    color: #4a4a4a;
}
.privacy-policy-h2{
    color: #4a4a4a;
}
.privacy-policy-ol{
    color: #4a4a4a;
}